.modmeid {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: rgb(243, 241, 241);
    text-align: center;
}

.password {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: rgb(243, 241, 241);
    text-align: center;
}

button {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: orange;
    text-align: center;
    color: white;
    margin-left: 40%;
    margin-top: 0.2%;
}

form {
    padding-left: 40%;
    padding-top: 15%;
}